.container_div {
  width: 100%;
  height: 75vh;
  position: relative;
  background-color: brown;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .container_div {
    width: 398px;
    height: 60vh;
    overflow: hidden;
    position: relative;
    background-color: pink;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
